@import "@material/button/mdc-button";
@import "@material/textfield/mdc-text-field";

html, body {
  height: 100%;
}

body {
  font-family: 'Roboto';
  margin: 0;
  padding-top: 0.1px; // Prevent header h1 margin from pushing body down
}

// Login page styles

.header {
  text-align: center;
}

.shrine-logo {
  width: 150px;
  height: 150px;
  padding-top: 80px;
  fill: currentColor;
}

.username,
.password {
  display: block;
  width: 300px;
  margin: 20px auto;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  width: 300px;
  margin: auto;
}

.button-container button {
  margin: 3px;
}

// Home page styles

.home {
  display: flex; // Flexbox is used to easily arrange the persistent drawer and content side-by-side
}

.shrine-logo-drawer {
  width: 48px;
  padding: 40px 0 0;
  margin: 0 auto;
  fill: currentColor;
}

.shrine-select-item-divider {
  width: 50px;
  margin: 0 auto;
  border-bottom-width: 2px;
  position: relative;
  top: -5px;
}

.shrine-search-icon {
  display: block;
  margin: 130px auto 0;
  padding: 12px;
  width: 24px;
  height: 24px;
}

.shrine-title {
  align-self: center;
  margin-top: 0;
}
