@import "./variables";

// Set the primary theme color *before* importing MDC components
$mdc-theme-primary: $crane-primary-color;

// MDC components read the value of $mdc-theme-primary
@import "~@material/button/mdc-button";
@import "~@material/ripple/mdc-ripple";
@import "~@material/select/mdc-select";
@import "~@material/textfield/mdc-text-field";

.crane-text-field {
  margin: 0;
}

.crane-text-field .crane-text-field__input,
.crane-select .crane-select__native-control {
  font-size: 1rem;
}

.crane-text-field .crane-floating-label,
.crane-select .crane-select__label {
  font-size: .8rem;
}
