@import "./variables";

// Apply a natural box layout model to all elements, but allowing components to change.
// https://www.paulirish.com/2012/box-sizing-border-box-ftw/
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: Arial, sans-serif;
}

.crane-header {
  display: flex;
  align-items: center;

  background-color: $crane-primary-color;
  color: #fff;
  font-size: 1.2rem;

  height: 4rem;
  padding-left: $crane-main-padding * 2;

  @media (max-width: $crane-header-breakpoint) {
    padding-left: $crane-main-padding;
  }
}

.crane-main {
  max-width: $crane-main-max-width;
  margin: $crane-main-padding auto;
  padding: 0 $crane-main-padding;
}

.crane-row {
  display: flex;
  margin-bottom: $crane-row-margin;

  @media (max-width: $crane-row-breakpoint) {
    flex-direction: column;
  }
}

.crane-row--submit {
  flex-direction: row;
  justify-content: flex-end;
}

.crane-label {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.crane-label + .crane-label {
  margin-left: 16px;

  @media (max-width: $crane-row-breakpoint) {
    margin-left: 0;
    margin-top: $crane-row-margin;
  }
}

// Hide the number spinner
.crane-input[type="number"] {
  // Firefox
  appearance: textfield;

  // Chrome
  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    appearance: none;
    margin: 0;
  }
}

.crane-button--submit {
  width: 150px;
}
