html, body {
  height: 100%;
}

body {
  font-family: 'Roboto';
  margin: 0;
  padding-top: 0.1px; // Prevent header h1 margin from pushing body down
}

// Login page styles

.header {
  text-align: center;
}

.shrine-logo {
  width: 150px;
  height: 150px;
  padding-top: 80px;
  fill: currentColor;
}

// Home page styles

.home {
  display: flex; // Flexbox is used to easily arrange the persistent drawer and content side-by-side
}
