@import "./common";
@import '@material/textfield/mdc-text-field';

.header {
  text-align: center;
  
}

.shrine-logo {
  width: 150px;
  height: 150px;
  padding-top: 80px;  
  fill: currentColor;
}
