$mdc-theme-primary: #FEDBD0;
$mdc-theme-on-primary: #442C2E;
$mdc-theme-secondary: #FEEAE6;
$mdc-theme-on-secondary: #442C2E;
$mdc-theme-surface: #FFFBFA;
$mdc-theme-on-surface: #442C2E;
$mdc-theme-background: #FFFFFF;
$mdc-theme-on-background: #442C2E;

@import "@material/button/mdc-button";
@import "@material/drawer/mdc-drawer";
@import "@material/image-list/mdc-image-list";
@import "@material/list/mdc-list";
@import "@material/textfield/mdc-text-field";
@import "@material/typography/mdc-typography";
@import "@material/elevation/mdc-elevation";

html, body {
  height: 100%;
}

body {
  font-family: 'Roboto';
  margin: 0;
  padding-top: 0.1px; // Prevent header h1 margin from pushing body down
}

// Login page styles

.header {
  text-align: center;
}

.shrine-logo {
  width: 150px;
  height: 150px;
  padding-top: 80px;
  fill: currentColor;
}

.username,
.password {
  &:not(.mdc-text-field--invalid) {
    @include mdc-text-field-label-color(on-primary);
  }
  &.mdc-text-field--focused:not(.mdc-text-field--invalid)  {
    @include mdc-text-field-label-color(on-primary);
  }

  display: block;
  width: 300px;
  margin: 20px auto;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  width: 300px;
  margin: auto;
}

.button-container button {
  margin: 3px;
}

.shrine-login {
  background-color: $mdc-theme-background;
  color: $mdc-theme-on-background;
}

.cancel {
  @include mdc-button-ink-color(on-primary);
}

// Home page styles

.home {
  display: flex; // Flexbox is used to easily arrange the persistent drawer and content side-by-side
}

.shrine-logo-drawer {
  width: 48px;
  padding: 40px 0 0;
  margin: 0 auto;
  fill: currentColor;
}

.shrine-title {
  @include mdc-typography(headline6);

  align-self: center;
  margin: 5px auto;
}

.product-list {
  @include mdc-image-list-masonry-columns(4);

  padding: 80px 100px 0 100px;
  overflow: auto;
}

.shrine-drawer {
  @include mdc-drawer-fill-color-accessible(primary);
  @include mdc-drawer-ink-color(on-primary);

  text-transform: uppercase;

  .mdc-list {
    margin: 70px 5px auto 5px;
  }

  .mdc-list-item {
    @include mdc-list-item-primary-text-ink-color(on-primary);

    border-radius: 6px;
    justify-content: center;
  }
}

.shrine-select-item-divider {
  border-bottom-color: #EAA4A4;
  width: 50px;
  margin: 0 auto;
  border-bottom-width: 2px;
  position: relative;
  top: -5px;
}

.mdc-image-list__supporting {
  justify-content: center;
}

.mdc-image-list__item {
  padding: 10px;
}

.mdc-image-list__label {
  @include mdc-typography(subtitle2);
}

.shrine-body {
  @include mdc-elevation(4);

  display: block;
  overflow: auto;
}
